<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>老街坊网站-公告</title>
<link href="./bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="./css/AdminLTE.min.css" rel="stylesheet" />
<link href="./css/sb-admin.css" rel="stylesheet" />
<link href="./pace/pace.css" rel="stylesheet" />
<link href="./font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="./skins/_all-skins.min.css" rel="stylesheet" />
<link href="./css/main.css" rel="stylesheet" />
<link rel="stylesheet"
	href="http://cache.amap.com/lbs/static/main1119.css" />
</head>
<body class="skin-blue sidebar-mini wysihtml5-supported"
	style="height: auto; min-height: 100%;">
	
<!-- 	<div id="loadingDiv" style="position:absolute;left:0;width:100%;height:px;
	top:0;opacity:0.8;filter:alpha(opacity=80);z-index:10000;">
	<div style="position: absolute; cursor1: wait; left:px; top:px; width: auto;
	 height: 57px; line-height: 57px; padding-left: 50px; padding-right: 5px;
	  background:url(/loading.gif) no-repeat scroll 5px 10px; color: #696969; 
	  font-family:\'Microsoft YaHei\';">
	  页面加载中，请等待...</div>
	  </div> -->
	
	<div class="pace  pace-inactive">
	<div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
  <div class="pace-progress-inner"></div>
</div>
<div class="pace-activity"></div></div>
	
	
	<div class="wrapper" style="height: auto; min-height: 100%;">
		<div class="main-header">
			<a href="/SalerIndex" class="logo"> <!-- mini logo for sidebar mini 50x50 pixels -->
				<span class="logo-mini"><b>Old</b></span> <!-- logo for regular state and mobile devices -->
				<span class="logo-lg"><b>老街坊</b>网站</span>
			</a>
			<nav class="navbar navbar-static-top">
				<div class="navbar-custom-menu">
					<ul class="nav navbar-nav">
						<li class="dropdown user user-menu"><a href="#"
							class="dropdown-toggle" data-toggle="dropdown"> <img
								name="head" class="user-image" alt="User Image" /> <span
								class="hidden-xs text-light"></span>
						</a>
							<ul class="dropdown-menu">
								<!-- User image -->
								<li class="user-header"><img name="head" class="img-circle"
									alt="User Image" />
									<p></p></li>
								<!-- Menu Footer-->
								<li class="user-footer">
									<div class="pull-left">
										<a href="/SalerInfo" class="btn btn-default btn-flat">个人信息</a>
									</div>
									<div class="pull-right">
										<a href="#" data-toggle="modal" data-target="#logoutModal"
											class="btn btn-default btn-flat">登出</a>
									</div>
								</li>
							</ul></li>

					</ul>
				</div>
			</nav>
		</div>
		<aside class="main-sidebar">
			<!-- sidebar: style can be found in sidebar.less -->
			<section class="sidebar" style="height: auto;">
				<!-- Sidebar user panel -->
				<div class="user-panel">
					<div class="pull-left image">
						<img name="head" class="img-circle" />
					</div>
					<div class="pull-left info">
						<p></p>
						<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
					</div>
				</div>
				<!-- /.search form -->
				<!-- sidebar menu: : style can be found in sidebar.less -->
				<ul class="sidebar-menu tree" data-widget="tree">
					<li class="header"></li>
					<li class="active treeview"><a href="SalerIndex"> <i
							class="fa fa-dashboard"></i> <span class="col-md-offset-3">主页</span>
					</a></li>
					<li class="treeview"><a href="MarketList"> <i
							class="fa fa-list"></i> <span class="col-md-offset-3">商铺列表</span>
					</a></li>
					<li class="treeview"><a href="Forum"> <i
							class="fa fa-edit"></i> <span class="col-md-offset-3">论坛</span>
					</a></li>
					<li class="treeview"><a href="SalerInfo"> <i
							class="fa fa-user"></i> <span class="col-md-offset-3">个人信息</span>
					</a></li>
					<li class="treeview"><a href="#" data-toggle="modal"
						data-target="#logoutModal"> <i class="fa fa-sign-out"></i> <span
							class="col-md-offset-3">退出</span>
					</a></li>
				</ul>
			</section>
			<!-- /.sidebar -->
		</aside>
		<div class="content-wrapper">
			<div style="position: relative;">
				<p class="mainTitle">老街坊</p>
				<img src="/top.jpg" class="topImg" />
			</div>
			<a id="menu" class="sidebar-toggle" data-toggle="push-menu"
				style="width: 15px; height: 50px; color: #fff; background-color: #222d32; margin-top: 250px; float: left;">
				<i class="fa fa-angle-double-left"
				style="margin-top: 17px; margin-left: 1px;"></i>
			</a>
			<div class="article">
				<div class="a-title"></div>
				<div class="a-info"></div>
				<div class="a-content"></div>
			</div>
	
	</div>
		<footer class="main-footer">
			<div class="pull-right hidden-xs">
				<b>Version</b> 2.4.0
			</div>
			<strong></strong> All rights reserved.
		</footer>
		</div>
	
	<div class="modal fade in" id="logoutModal" tabindex="0" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title">退出登录</h4>
				</div>
				<div class="modal-body">
					<p>确认退出登录?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-left"
						data-dismiss="modal">取消</button>
					<a href="/"><button type="button" class="btn btn-primary">确认</button></a>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<script src="./js/jquery.min.js"></script>
	<script src="./bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="https://cdn.bootcss.com/layer/3.0.3/layer.min.js"></script>
	<script src="./js/pace.min.js"></script>
	<script src="./js/adminlte.js"></script>
	<script src="./js/demo.js"></script>
	<script src="./js/announce.js"></script>
</body>
</html>