<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>老街坊网站-登录</title>
<link href="./bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="./css/AdminLTE.min.css" rel="stylesheet" />
<link href="./css/sb-admin.css" rel="stylesheet" />
<link href="./font-awesome/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body class="hold-transition login-page">
	<div class="login-box">
		<div class="login-logo">
			<b>老街坊</b>网站
		</div>
		<!-- /.login-logo -->
		<div class="login-box-body">
			<p class=""><b>登录</b></p>

			<form id="login_form" method="post">
				<div class="form-group has-feedback">
						<span class="glyphicon glyphicon-user form-control-feedback"></span>
					<input type="text" id="inputName" name="username"
						class="form-control" placeholder="请输入用户名" /> 
				</div>
				<div class="form-group has-feedback">
					<span class="glyphicon glyphicon-lock form-control-feedback"></span>
					<input type="password" id="inputPassword" name="password"
						class="form-control" placeholder="请输入密码" /> 
				</div>
				
				
				
				<div class="form-group">
					<div class="radio form-check">
						<label class="type col-md-4 text-center"><input
							class="form-check-input" name="type minimal" type="radio" value="user"
							checked="checked" />游客</label>
						<label class="type col-md-4 text-center"><input
							class="form-check-input" name="type minimal" type="radio" value="saler" />商户</label>
						<label class="type col-md-4 text-center"><input
							class="form-check-input" name="type minimal" type="radio" value="admin" />管理员</label>

					</div>
					<br/>
				</div>
				<input id="login" class="btn btn-primary btn-block btn-flat" type="button" value="登录"/>
			</form>

			<!-- /.social-auth-links -->
			<div class="row text-center">
				<br/>
				<a href="/Register" class="text-center">注册</a>
			</div>

		</div>
		<!-- /.login-box-body -->
	</div>
	<!-- /.login-box -->

	<!-- Bootstrap 3.3.7 -->
	<script src="./js/jquery.min.js"></script>
	<script src="./bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="https://cdn.bootcss.com/layer/3.0.3/layer.min.js"></script>
	<script src="./js/jquery.validate.min.js"></script>
	<script src="./js/login.js"></script>
</body>
</html>