<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>老街坊网站-商铺列表</title>
<link href="./bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="./css/AdminLTE.min.css" rel="stylesheet" />
<link href="./css/sb-admin.css" rel="stylesheet" />
<link href="./pace/pace.css" rel="stylesheet" />
<link href="./font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="./skins/_all-skins.min.css" rel="stylesheet" />
</head>
<body class="skin-blue sidebar-mini wysihtml5-supported" style="height: auto; min-height: 100%;">

	<div class="pace  pace-inactive">
	<div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
  <div class="pace-progress-inner"></div>
</div>
<div class="pace-activity"></div></div>
<div class="wrapper" style="height: auto; min-height: 100%;">
	<div class="main-header">
		<a href="/SalerIndex" class="logo"> <!-- mini logo for sidebar mini 50x50 pixels -->
			<span class="logo-mini"><b>O</b>ld</span> <!-- logo for regular state and mobile devices -->
			<span class="logo-lg"><b>老街坊</b>网站</span>
		</a>
		<nav class="navbar navbar-static-top">
		<div class="navbar-custom-menu">
		<ul class="nav navbar-nav">
			<li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="/SH00000001.jpg" class="user-image" alt="User Image"/>
              <span class="hidden-xs text-light"></span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="/SH00000001.jpg" class="img-circle" alt="User Image"/>
                <p>
                </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="/SalerInfo" class="btn btn-default btn-flat">个人信息</a>
                </div>
                <div class="pull-right">
                  <a href="#" data-toggle="modal"
					data-target="#logoutModal" class="btn btn-default btn-flat">登出</a>
                </div>
              </li>
            </ul>
          </li>
		
		</ul>
		</div>
		</nav>
	</div>
	<aside class="main-sidebar">
		<!-- sidebar: style can be found in sidebar.less -->
		<section class="sidebar" style="height: auto;">
			<!-- Sidebar user panel -->
			<div class="user-panel">
				<div class="pull-left image">
					<img src="/SH00000001.jpg" class="img-circle" />
				</div>
				<div class="pull-left info">
					<p></p>
					<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
				</div>
			</div>
			<!-- /.search form -->
			<!-- sidebar menu: : style can be found in sidebar.less -->
			<ul class="sidebar-menu tree" data-widget="tree">
				<li class="header"></li>
				<li class="treeview"><a href="SalerIndex"> <i
						class="fa fa-dashboard"></i> <span class="col-md-offset-3">主页</span>
				</a></li>
				<li class="active treeview"><a href="MarketList"> <i
						class="fa fa-list"></i> <span class="col-md-offset-3">商铺列表</span>
				</a></li>
				<li class="treeview"><a href="Forum"> <i
						class="fa fa-edit"></i> <span class="col-md-offset-3">论坛</span>
				</a></li>
				<li class="treeview"><a href="SalerInfo"> <i
						class="fa fa-user"></i> <span class="col-md-offset-3">个人信息</span>
				</a></li>
				<li class="treeview"><a href="#" data-toggle="modal"
					data-target="#logoutModal"> <i class="fa fa-sign-out"></i> <span
						class="col-md-offset-3">退出</span>
				</a></li>
			</ul>
		</section>
		<!-- /.sidebar -->
	</aside>
	<div class="content-wrapper">
	
		<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/SalerIndex">Home</a></li>
			<li class="breadcrumb-item active" aria-current="page">marketList</li>
		</ol>
	</nav>
		<a id="menu" class="sidebar-toggle" data-toggle="push-menu"
				style="width: 15px; height: 50px; color: #fff; background-color: #222d32; margin-top: 250px; float: left;">
				<i class="fa fa-angle-double-left"
				style="margin-top: 17px; margin-left: 1px;"></i>
			</a>
			
		<div class="col-md-10" style="margin-left:20px;">
          <!-- Custom Tabs -->
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab_1" data-toggle="tab">全部</a></li>
              <li><a href="#tab_2" data-toggle="tab">正常</a></li>
              <li><a href="#tab_3" data-toggle="tab">申请</a></li>
              <li><a href="#tab_4" data-toggle="tab">注销</a></li>
              <li class="dropdown pull-right">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">申请时间正序
                 <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">申请时间正序</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">申请时间倒序</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">按类型排序</a></li>
                </ul>
              </li>
              <li class="pull-right" style="margin-top:2px;"><input type="button" class="btn btn-primary" id="applyMarket" value="申请店铺"/></li>
             
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_1"></div>
              <div class="tab-pane" id="tab_2">
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_3">
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_4">
              </div>
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- nav-tabs-custom -->
        </div>
		
			
			
			
			
	</div>
<footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.4.0
    </div>
    <strong></strong> All rights
    reserved.
  </footer>
  </div>
  

  
	<div class="modal fade in" id="logoutModal" tabindex="0" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title">退出登录</h4>
				</div>
				<div class="modal-body">
					<p>确认退出登录?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-left"
						data-dismiss="modal">取消</button>
					<a href="/"><button type="button" class="btn btn-primary">确认</button></a>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<script src="./js/jquery.min.js"></script>
	<script src="./bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="https://cdn.bootcss.com/layer/3.0.3/layer.min.js"></script>
	<script src="./js/adminlte.js"></script>
	<script src="./js/pace.min.js"></script>
	<script src="./js/demo.js"></script>
	<script src="./js/marketlist.js"></script>
</body>
	
</html>